on:
  pull_request:
    types:
      - closed

jobs:
  code-coverage:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox==3.24.5
          python -m venv .venv
          source .venv/bin/activate
          pip install -e .

      - name: Run tox
        run: tox -e py39

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          override_branch: main
          verbose: true
