name: Publish Package

on:
  release:
    types: [published]

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Python 3.9
      uses: actions/setup-python@v6
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build

    - name: Build package
      run: python -m build

    - name: Store distribution packages
      uses: actions/upload-artifact@v6
      with:
        name: python-package-distributions
        path: dist/

  publish-to-testpypi:
    name: Publish to TestPyPI
    runs-on: ubuntu-24.04
    needs: build
    environment:
      name: testpypi
      url: https://test.pypi.org/p/frouros
    permissions:
      id-token: write

    steps:
    - name: Download distribution packages
      uses: actions/download-artifact@v7
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish distribution to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/

  publish-to-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-24.04
    needs: [build, publish-to-testpypi]
    environment:
      name: pypi
      url: https://pypi.org/p/frouros
    permissions:
      id-token: write

    steps:
    - name: Download distribution packages
      uses: actions/download-artifact@v7
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
